# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.backup/
.pytest_cache/
__pycache__/
.coverage*
coverage.xml*
.vscode*
.nfs*
.ipynb_checkpoints

data/f0s.scp
log
conf/tuning
ckpt
vc_gen_wavs
tools/venv
ppg-vc
conformer_ppg_model/en_conformer_ctc_att
vocoders/vctk_24k10ms
wav2vec
synthesis_output